@model List<Itn.Shared.Transaction.DiPurchaseOrderListItem>
<br />
<div class="searchWrapper">@Html.Partial("_SearchCustomer")</div>
<br/>
<div id="tableRefresh">@Html.Partial("_ResultPOList",Model)</div>